{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2>Liste des Modules</h2>
                        <a class="btn btn-primary" href="{% if filiere_id %}{% url 'create_module_filiere' filiere_id %}{% elif td_id %}{% url 'create_module_td' td_id %}{% endif %}">
                            <i class="fas fa-plus"></i> Add Module
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Professeurs</th>
                                    <th scope="col">Nombre d'heurs</th>
                                    <th scope="col">Nombre de semaines</th>
                                    <th class="text-end" scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for module in modules %}
                                    <tr>
                                        <td>{{ module.nom }}</td>
                                        <td>
                                            {% for professeur in module.professeurs.all %}
                                                {{ professeur.nom }} {{ professeur.prenom }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ module.nbr_heurs }}</td>
                                        <td>{{ module.nbr_semaines }}</td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'update_module' module.pk %}" title="Edit">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger ms-2" href="{% url 'delete_module' module.pk %}" title="Delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}